* {
    box-sizing: border-box;
    outline: none;
}

html {
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    color: white;
}

body {
    margin: 0;
}

a,
a:visited,
a:active {
    text-decoration: none;
    color: inherit;
}

button,
.btn {
    cursor: pointer;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: 0px;
}

input,
select {
    border: none;
}


.general-container {
    background: url('../img/ground.jpeg');
    background-repeat: no-repeat;
    background-size: auto;
    margin: 0;
}

.screen-size {
    height: 100vh;
}

.content-size {
    height: fit-content;
    min-height: 100vh;
}
.logo {
    font-size: 50px;
    font-family: monospace bold 20px/40px;
    justify-self: center;
}
nav {
    padding: 5px 80px 20px 80px;
    display: flex;
    justify-content: space-between;
    color: rgb(56, 18, 18);
    font-size: 1.2rem;
}

nav ul {
    margin: 10px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    padding: 5px 20px;
    cursor: pointer;
}

nav ul li a {
    display: block;
}

nav ul li.active {
    background-color: #e48787;
    color: black;
}


nav .btn-hamburger {
    display: none;
}

.page-container.gallery-container {
    height: 100%;
}


.img-container {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-row-gap: 5px;
    grid-column-gap: 10px;
    align-items: center;
    justify-content: center;
    padding-left: 50px;
}

.img-gallery img {
    width: 160px;
    height: 160px;
    cursor: pointer;
}


.about-container {
    text-align: center;
    padding: 70px;
    color: black;
    font-weight: 700;
}

.aboutuspic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


.hide {
    display: none !important;
}


.memes-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.memes-container .saved-memes-imgs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.memes-container .meme-img {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.memes-container img {
    width: 200px;
    margin: 5px;
    cursor: pointer;
}

.memes-container .btns-container {
    display: flex;
}

.memes-container .btns-container>* {
    height: 28px;
    margin: 5px;
    padding: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.memes-container .btns-container .btn-edit {
    flex-grow: 1;
    color: whitesmoke;
    background-color: #1e7cd3;
    font-size: 1.1rem;
}

.memes-container .meme-img .btn-delete {
    background-color: #ebeef3;
}

@media (max-width: 950px) {
    nav {
        padding-left: 80px;
        padding-right: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        font-size: 1.2rem;
    }
    nav .btn-hamburger {
        display: inline-block;
        padding-bottom: 35px;
        height: 25px;
        cursor: pointer;
        background-color: transparent;
        color: white;
        font-size: 2rem;
        border: 0px;
        z-index: 2;
    }
    nav .btn-hamburger img {
        height: 25px;
        z-index: 1;
    }
    nav ul {
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        height: 100vh;
        background-color: #000000;
        opacity: 0.9;
        min-width: 50%;
        transform: translateX(100%);
        margin: 0;
        padding: 70px 10px 20px 10px;
        font-size: 1.2rem;
        text-align: center;
    }
    nav ul.open-nav {
        transition: 0.6s;
        transform: translateX(0);
    }
    .general-container {
        padding: 0px;
    }
    .general-container.screen-size {
        height: auto;
        min-height: 100vh;
    }
    .meme-editor-container .canvas-container {
        margin: 10px auto;
        max-width: fit-content;
        max-height: 490px;
    }
}

@media (max-width: 750px) {
    html {
        font-size: 15px;
    }
    .page-container {
        width: 100vw;
    }
    .general-container {
        padding: 0px;
    }
}